@font-face {
  font-family: 'PangMenZhengDao3';
  src: url('/font/PangMenZhengDao-3.ttf');
}

@font-face {
  font-family: 'SourceHanSansCN Regular';
  src: url('/font/SourceHanSansCN-Regular.otf');
}
